<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<div class="form">
    <form method="post" action="/login" th:object="${loginRequest}">
        <h2>Login</h2>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="login" placeholder="Name" required>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"title="Must contain at least one number and one uppercase and one lowercase letter, and at least 8 or mare characters" required>
        </div>
        <div class="input-box">
            <input type="submit" name="sign-in" value="login">
        </div>
        <a href="/register"><button class="button-1" role="button">Register now</button></a>
    </form>
</div>
</body>
</html>